/**
 * Banner
 */

.banner {
  @extend %__inner;
  text-align: center;

  &__main {
    width: min(100%, 30rem);
    height: min(25vw, 9rem);
    margin: auto;
  }

  &__button {
    display: block;
    width: min(100%, 30rem);
    margin: 0.375rem auto;

    &:hover {
      opacity: 0.7;
    }
  }
}
