/**
 * Feature
 */

.feature {
  @extend %__section;

  &__heading {
    @extend %__heading;
  }

  &__headingInner {
    @extend %__headingInner;
  }

  &__inner {
    @extend %__inner;

    &.--flex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: stretch;
    }
  }

  &__content {
    position: relative;
    flex: 0 0 18.75rem;
    margin: 1.5rem 0;
    padding-top: 1.5rem;
    border-radius: 12px;
    background: url("./assets/bubbles.png") no-repeat 0 0 / cover scroll, linear-gradient(135deg, rgba(244, 179, 177, 1), rgba(193, 191, 223, 1));
    background-blend-mode: color-dodge;
    line-height: 1.6;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        background-position: #{($i - 1) * 50%};
        //background: radial-gradient(circle at #{(3 - $i) * 50%} 50%, #f3a39e, #a4292e);
        &::after {
          content: "";
          position: absolute;
          top: -1.5rem;
          left: 0;
          right: 0;
          width: 18.75rem;
          height: 3rem;
          background: url("./assets/num0#{$i}.svg") no-repeat 50% 50% / contain scroll;
        }
      }
    }
  }

  &__subheading {
    height: 4rem;
    color: $white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 1;

    &.--num_3 {
      line-height: 2;
    }
  }

  &__image {
    width: min(100%, 18rem);
    margin: auto;

    &.--num_2 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &.--num_3 {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
  }

  &__lead {
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;

    & > span {
      display: block;
    }
  }

  &__strong {
    @include strong();
  }

  &__text {
    padding: 0 1.5rem 1.5rem;
    color: $white;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: justify;
  }

  &__aside {
    position: relative;
    margin: 1.5rem 0;
    border-top: 1px solid $pink;
    border-bottom: 1px solid $pink;
  }

  &__asideHeading {
    width: 18rem;
    margin: 1.5rem auto 0;
    font-size: 1.2rem;
    text-align: center;

    @media (min-width: $breakpointSm) {
      width: 27rem;
    }

    @media (min-width: $breakpointLg) {
      position: absolute;
      top: -0.9rem;
      left: 0;
      right: 0;
      width: 42rem;
      margin: auto;
      background-color: $white;
    }
  }

  &__asideContent {
    padding: 0.9rem 0;
    font-size: 0.9rem;
    text-align: center;
  }

  &__bannerBg {
    @include bannerBg();
  }
}
