/**
 * Flow
 */

.flow {
  @extend %__section;

  &__heading {
    @extend %__heading;
  }

  &__headingInner {
    @extend %__headingInner;
  }

  &__inner {
    position: relative;
    padding: 3rem clamp(0.75rem, 2.5%, 1.5rem);
    background: url("./assets/bubbles.png") no-repeat 0 0 / cover scroll, linear-gradient(135deg, rgba(244, 179, 177, 1), rgba(193, 191, 223, 1));
    background-blend-mode: color-dodge;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 100%;
      aspect-ratio: 10;
      background: url("./assets/wave_mb.svg") no-repeat 0 0 / cover scroll;
  
      @media (min-width: $breakpointSm) {
        aspect-ratio: 20;
        background-image: url("./assets/wave.svg");
      }
    }
  
    &::before {
      top: -1px;
      left: 0;
      transform: rotate(180deg);
    }
  
    &::after {
      right: 0;
      bottom: -1px;
    }

    @media (min-width: $breakpointLg) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }
  }

  &__step {
    position: relative;
    width: 18rem;
    margin: 1.5rem auto;

    @media (min-width: $breakpointLg) {
      margin: 1.5rem 0;
    }

    &:nth-of-type(1), &:nth-of-type(2) {
      &::after {
        content: "";
        position: absolute;
        top: 97.5%;
        left: 0;
        right: 0;
        z-index: 10;
        width: 2.25rem;
        height: 1.5rem;
        margin: auto;
        background: url("./assets/arrow.svg") no-repeat 50% 50% / contain scroll;
        transform: rotate(90deg);

        @media (min-width: $breakpointLg) {
          top: 0;
          left: 97.5%;
          right: auto;
          bottom: 0;
          transform: none;
        }
      }
    }
  }

  &__stepCaption {
    position: absolute;
    top: 2.4rem;
    left: 0;
    width: 100%;
    color: $red;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
  }

  &__campaign {
    @extend %__inner;
    background: url("./assets/textPickUp_mb.svg") no-repeat 50% 50%;
    height: 6.75rem;
    padding: 1.75rem;
    background-size: auto 4.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;

    p {
      width: 15rem;
      margin: 0 auto;
    }

    @media (min-width: $breakpointMd) {
      height: 4.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding: 1.25rem;
      background-image: url("./assets/textPickUp.svg");
      background-size: auto 3.75rem;
      font-size: 1.5rem;

      p {
        width: 100%;
      }
    }

    @media (min-width: $breakpointLg) {
      height: 4.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 1rem;
      background-size: auto 4.5rem;
      font-size: 1.75rem;
    }
  }

  &__em {
    display: inline-block;
    font-style: normal;
    @include strong(1em, $yellow);
  }

  &__movie {
    width: min(100%, 36rem);
    margin: 1.5rem auto;
    padding: 0 1.5rem;
  }

  &__bannerBg {
    @include bannerBg();
  }
}
