/**
 * Intro
 */

.intro {
  @extend %__section;
  
  &__lead {
    position: relative;
    width: min(100%, 48rem);
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
  }

  &__leadMain {
    position: relative;
    width: min(100%, 42rem);
    margin: 1.5rem auto;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 1.4rem;
    
    &::before {
      content: "";
      background: url("./assets/bracket_l.svg") no-repeat 0 0 / contain scroll;
      position: absolute;
      top: 0;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
    
    &::after {
      content: "";
      background: url("./assets/bracket_r.svg") no-repeat 100% 100% / contain scroll;
      position: absolute;
      right: 0.5rem;
      bottom: 0;
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: $breakpointSm) {
      position: static;
      padding: 0;

      &::before, &::after {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    & > span {
      display: inline-block;
    }
  }

  &__leadSub {
    width: min(100%, 42rem);
    margin: 1.5rem auto;
    font-weight: 700;
    font-size: 0.8rem;

    & > span {
      display: inline-block;
    }
  }

  &__strong {
    font-size: 1.1rem;
    text-decoration: underline;
  }

  &__bannerBg {
    @include bannerBg();
  }
}
