/**
 * Request
 */

.request {
  @extend %__section;
  position: relative;
  background: url("./assets/bg-summer.svg") no-repeat 75% 50% / cover scroll, linear-gradient(0deg, #a6d1e6, #7191ae, #34476e, #1c2a55);

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 10;
    background: url("./assets/wave_mb.svg") no-repeat 0 0 / cover scroll;

    @media (min-width: $breakpointSm) {
      aspect-ratio: 20;
      background-image: url("./assets/wave.svg");
    }
  }

  &::before {
    top: -1px;
    left: 0;
    transform: rotate(180deg);
  }

  &::after {
    right: 0;
    bottom: -1px;
  }

  &__heading {
    @extend %__heading;
  }

  &__headingInner {
    @extend %__headingInner;
    color: #ffffff;
  }

  &__inner {
    //@extend %__inner;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 clamp(0.75rem, 2.5%, 1.5rem);

    @media (min-width: $breakpointSm) {
      &:nth-of-type(even) {
        .request__image {
          order: 1;
        }

        .request__content {
          order: 0;
          padding-left: 10%;
        }
      }
    }
  }

  &__image {
    @media (min-width: $breakpointSm) {
      flex: 0 0 41.67%;
    }

    &.--num_2 {
      padding-left: max(4.5rem, 7.5%);
      padding-right: max(4.5rem, 7.5%);
    }

    &.--num_3 {
      padding-left: max(3rem, 5%);
      padding-right: max(3rem, 5%);
    }

    & > img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }

    &.--num_1 > img {
      aspect-ratio: 1.6;
    }
  }

  &__content {
    margin-bottom: 3rem;
    padding-left: 3.33%;
    line-height: 1.8;
    font-size: 1.17rem;

    @media (min-width: $breakpointSm) {
      flex: 0 0 58.33%;
      font-size: 1rem;
    }

    @media (min-width: $breakpointLg) {
      font-size: 2rem;
    }
  }

  &__contentLead {
    margin: 1em 0;
    color: $white;
  }

  &__strong {
    @include strong(1.33em);
  }

  &__contentText {
    color: $white;
    font-weight: 500;
    font-size: 0.67em;
  }
}
