/**
 * Section
 */

%__section {
  padding: 3rem 0;
}

%__heading {
  margin: 3rem 0;
  text-align: center;
}

%__headingInner {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  color: $black;
  font-weight: 700;
  font-size: 1.17rem;

  @media (min-width: $breakpointLg) {
    font-size: 1.5rem;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    bottom: 0;
  }

  &::before {
    left: 0;
    background-color: $red;
  }

  &::after {
    right: 0;
    background-color: $blue;
  }
}

%__inner {
  width: min(100%, 63rem); // 1260px 左右30pxずつpaddingで、内寸1200px
  margin: auto;
  padding: 0 clamp(0.75rem, 2.5%, 1.5rem);
}

@mixin bannerBg() {
  
  position: relative;
  display: flex;
  align-items: center;
  padding: 3rem 0 4.5rem;
  background-color: #f8f8f8;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 10;
    background: url("./assets/wave_mb.svg") no-repeat 0 0 / cover scroll;

    @media (min-width: $breakpointSm) {
      aspect-ratio: 20;
      background-image: url("./assets/wave.svg");
    }
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }

  &::after {
    right: 0;
    bottom: 0;
  }

  @media (min-width: $breakpointLg) {
    padding: 4.5rem 0 6rem;
  }
}

@mixin strong($font-size: 1em, $color: $pink, $size: 0.1em) {  
  position: relative;
  font-size: $font-size;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.2em;
    z-index: 0;
    width: 100%;
    height: $size;
    background-color: $color;
  }

  & > span {
    position: relative;
    z-index: 10;
  }
}