@charset "UTF-8";
/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: min(4.8vw, 20px);
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #ee7a7a;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #ee7a7a;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Preloader
 */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #ee7a7a;
  text-align: center;
  line-height: 1;
}
.preloader__content {
  width: 13.5rem;
}
.preloader__image {
  width: 8.25rem;
  margin: 0.75rem auto;
}
.preloader__subtitle {
  margin: 0.75rem 0;
  font-weight: 500;
  font-size: 1rem;
}
.preloader__title {
  margin: 0.75rem 0;
  font-weight: 700;
  font-size: 4rem;
}
.preloader__award {
  position: absolute;
  left: 0.75rem;
  right: 0.75rem;
  bottom: 0.75rem;
  width: 6.75rem;
  margin: 0.75rem auto;
}
@media (min-width: 630px) {
  .preloader__award {
    left: auto;
  }
}

/**
 * Section
 */
.feature, .request, .intro {
  padding: 3rem 0;
}

.feature__heading, .request__heading {
  margin: 3rem 0;
  text-align: center;
}

.feature__headingInner, .request__headingInner {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.17rem;
}
@media (min-width: 1260px) {
  .feature__headingInner, .request__headingInner {
    font-size: 1.5rem;
  }
}
.feature__headingInner::before, .request__headingInner::before, .feature__headingInner::after, .request__headingInner::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 6px;
  bottom: 0;
}
.feature__headingInner::before, .request__headingInner::before {
  left: 0;
  background-color: #ed6a1f;
}
.feature__headingInner::after, .request__headingInner::after {
  right: 0;
  background-color: #7ebfd8;
}

.feature__inner, .banner, .header__content {
  width: min(100%, 63rem);
  margin: auto;
  padding: 0 clamp(0.75rem, 2.5%, 1.5rem);
}

/**
 * Header
 */
.header {
  position: relative;
  width: 100%;
  height: calc(220vw + 6rem);
  margin-bottom: -4.5rem;
}
@media (min-width: 630px) {
  .header {
    height: calc(60vw + 4.5rem);
    margin-bottom: -3rem;
  }
}
.header__content {
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: 4.5rem;
}
@media (min-width: 630px) {
  .header__content {
    display: flex;
  }
}
.header__logo {
  width: 3rem;
}
.header__title {
  font-weight: 700;
  font-size: 1.5rem;
}
.header__subtitle {
  font-weight: 500;
  font-size: 1rem;
}
.header__mainVisual {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  aspect-ratio: 5/11;
  background-image: url("./assets/main_mb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 630px) {
  .header__mainVisual {
    aspect-ratio: 5/3;
    background-image: url("./assets/main.jpg");
  }
}
.header__bubble {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 15rem;
}
.header__bubbleInner {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 7.5rem;
  font-size: 0.85rem;
}

/**
 * Intro
 */
.intro__lead {
  position: relative;
  width: min(100%, 48rem);
  margin: auto;
  padding: 0.5rem 0;
  text-align: center;
}
.intro__leadMain {
  position: relative;
  width: min(100%, 42rem);
  margin: 1.5rem auto;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.4rem;
}
.intro__leadMain::before {
  content: "";
  background: url("./assets/bracket_l.svg") no-repeat 0 0/contain scroll;
  position: absolute;
  top: 0;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.intro__leadMain::after {
  content: "";
  background: url("./assets/bracket_r.svg") no-repeat 100% 100%/contain scroll;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 630px) {
  .intro__leadMain {
    position: static;
    padding: 0;
  }
  .intro__leadMain::before, .intro__leadMain::after {
    width: 2.25rem;
    height: 2.25rem;
  }
}
.intro__leadMain > span {
  display: inline-block;
}
.intro__leadSub {
  width: min(100%, 42rem);
  margin: 1.5rem auto;
  font-weight: 700;
  font-size: 0.8rem;
}
.intro__leadSub > span {
  display: inline-block;
}
.intro__strong {
  font-size: 1.1rem;
  text-decoration: underline;
}

/**
 * Banner
 */
.banner {
  text-align: center;
}
.banner__lead {
  color: #333333;
  font-weight: 700;
  font-size: 0.75rem;
}
.banner__lead::before {
  content: "＼";
  font-size: 1.5em;
  vertical-align: middle;
}
.banner__lead::after {
  content: "／";
  font-size: 1.5em;
  vertical-align: middle;
}
@media (min-width: 630px) {
  .banner__lead {
    font-size: 0.9em;
  }
}
.banner__main {
  width: min(100%, 30rem);
  margin: auto;
  padding: 0.75rem;
  border-radius: 6px;
  background-color: #7ebfd8;
  line-height: 1.44;
}
.banner__title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}
@media (min-width: 630px) {
  .banner__title {
    font-size: 1.5em;
  }
}
.banner__campaign {
  margin: 0;
  color: #f5fd24;
  font-weight: 700;
  font-size: 1rem;
}
@media (min-width: 630px) {
  .banner__campaign {
    font-size: 1.1em;
  }
}
.banner__note {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.7rem;
}
.banner__note > span {
  font-size: 0.8rem;
}

/**
 * Request
 */
.request {
  background-image: url("./assets/background_mb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 630px) {
  .request {
    background-image: url("./assets/background.jpg");
  }
}
.request__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 clamp(0.75rem, 2.5%, 1.5rem);
}
@media (min-width: 630px) {
  .request__inner:nth-of-type(even) .request__image {
    order: 1;
  }
  .request__inner:nth-of-type(even) .request__content {
    order: 0;
    padding-left: 10%;
  }
}
@media (min-width: 630px) {
  .request__image {
    flex: 0 0 41.67%;
  }
}
.request__image.--num_2, .request__image.--num_3 {
  padding-left: max(3rem, 5%);
  padding-right: max(3rem, 5%);
}
.request__image > img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.request__image.--num_1 > img {
  aspect-ratio: 1.6;
}
.request__content {
  margin-bottom: 3rem;
  padding-left: 3.33%;
  line-height: 1.8;
  font-size: 1.17rem;
}
@media (min-width: 630px) {
  .request__content {
    flex: 0 0 58.33%;
    font-size: 1rem;
  }
}
@media (min-width: 1260px) {
  .request__content {
    font-size: 2rem;
  }
}
.request__contentLead {
  margin: 1em 0;
  color: #ffffff;
}
.request__strong {
  position: relative;
  font-size: 1.33em;
}
.request__strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em;
  z-index: 0;
  width: 100%;
  height: 0.1em;
  background-color: #ee7a7a;
}
.request__strong > span {
  position: relative;
  z-index: 10;
}
.request__contentText {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.67em;
}

/**
 * Feature
 */
.feature__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}
.feature__content {
  position: relative;
  flex: 0 0 18.75rem;
  margin: 1.5rem 0;
  padding-top: 1.5rem;
  border-radius: 12px;
  background: url("./assets/background_mb.jpg") no-repeat 50% 50%;
  line-height: 1.6;
}
.feature__content:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 18.75rem;
  height: 3rem;
  background: url("./assets/num01.svg") no-repeat 50% 50%/contain scroll;
}
.feature__content:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 18.75rem;
  height: 3rem;
  background: url("./assets/num02.svg") no-repeat 50% 50%/contain scroll;
}
.feature__content:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  width: 18.75rem;
  height: 3rem;
  background: url("./assets/num03.svg") no-repeat 50% 50%/contain scroll;
}
.feature__subheading {
  height: 4rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 2;
}
.feature__subheading.--num_2 {
  line-height: 1;
}
.feature__image {
  width: min(100%, 18rem);
  margin: auto;
}
.feature__image.--num_2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.feature__image.--num_3 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.feature__lead {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
}
.feature__lead > span {
  display: block;
}
.feature__strong {
  position: relative;
  font-size: 1em;
}
.feature__strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em;
  z-index: 0;
  width: 100%;
  height: 0.1em;
  background-color: #ee7a7a;
}
.feature__strong > span {
  position: relative;
  z-index: 10;
}
.feature__text {
  padding: 0 1.5rem 1.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: justify;
}